<a href="https://colab.research.google.com/github/VivekSaini11/AI-Capstone-Project/blob/master/Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DESCRIPTION**

**Problem Statement**

Finance Industry is the biggest consumer of Data Scientists. It faces constant attack by fraudsters, who try to trick the system. Correctly identifying fraudulent transactions is often compared with finding needle in a haystack because of the low event rate. 
It is important that credit card companies are able to recognize fraudulent credit card transactions so that the customers are not charged for items that they did not purchase.
You are required to try various techniques such as supervised models with oversampling, unsupervised anomaly detection, and heuristics to get good accuracy at fraud detection.
Dataset Snapshot

The datasets contain transactions made by credit cards in September 2013 by European cardholders. This dataset represents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

In [ ]:
import re
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from imblearn.over_sampling import RandomOverSampler
from collections import Counter
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import cross_val_score, GridSearchCV
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.decomposition import NMF
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train = pd.read_csv("train_data.csv")
train

           Time        V1        V2  ...       V28   Amount  Class
0       38355.0  1.043949  0.318555  ...  0.037894    49.67    0.0
1       22555.0 -1.665159  0.808440  ... -0.220086    16.94    0.0
2        2431.0 -0.324096  0.601836  ... -0.021623     1.00    0.0
3       86773.0 -0.258270  1.217501  ... -0.020635    10.78    0.0
4      127202.0  2.142162 -0.494988  ... -0.043888    39.96    0.0
...         ...       ...       ...  ...       ...      ...    ...
28740   62600.0 -0.573875  0.698454  ...  0.202502    39.99    0.0
28741   49008.0  1.184948 -0.659465  ...  0.054656    40.00    0.0
28742   53217.0  0.989208 -1.436164  ...  0.050619   156.28    0.0
28743   68109.0 -0.920600 -5.154184  ...  0.223225  1214.35    0.0
28744   53651.0  1.109179 -0.314673  ...       NaN      NaN    NaN

[28745 rows x 31 columns]

In [ ]:
test = pd.read_csv('test_data.csv') 
test

           Time        V1        V2  ...       V27       V28  Amount
0      113050.0  0.114697  0.796303  ...  0.242724  0.085713    0.89
1       26667.0 -0.039318  0.495784  ...  0.113136  0.256836   85.00
2      159519.0  2.275706 -1.531508  ...  0.014197 -0.051289   42.70
3      137545.0  1.940137 -0.357671  ... -0.012791 -0.056841   29.99
4       63369.0  1.081395 -0.502615  ...  0.089673  0.052036   68.00
...         ...       ...       ...  ...       ...       ...     ...
28839  147732.0 -9.953085 -8.868956  ... -0.547308  0.681201  774.82
28840  121072.0 -0.635801  1.440920  ...  0.567191  0.257921   47.68
28841   45542.0 -2.739001  2.245648  ...  0.760675 -0.063545    4.53
28842   67408.0 -1.071097 -0.190828  ...  0.451128  0.171191    1.50
28843  122263.0  2.271619 -1.369435  ...       NaN       NaN     NaN

[28844 rows x 30 columns]

In [ ]:
test_hidden = pd.read_csv('test_data_hidden.csv') 
test_hidden

           Time        V1        V2  ...       V28  Amount  Class
0      113050.0  0.114697  0.796303  ...  0.085713    0.89    0.0
1       26667.0 -0.039318  0.495784  ...  0.256836   85.00    0.0
2      159519.0  2.275706 -1.531508  ... -0.051289   42.70    0.0
3      137545.0  1.940137 -0.357671  ... -0.056841   29.99    0.0
4       63369.0  1.081395 -0.502615  ...  0.052036   68.00    0.0
...         ...       ...       ...  ...       ...     ...    ...
30650  116581.0  2.067965  0.221921  ... -0.027550    1.98    0.0
30651  127147.0  1.958020  0.084885  ... -0.021019   60.51    0.0
30652  140658.0  1.034519 -1.657062  ...  0.049330  472.42    0.0
30653  133603.0  1.176521 -1.500626  ...  0.023616  400.00    0.0
30654   64916.0 -0.373160  0.608880  ...       NaN     NaN    NaN

[30655 rows x 31 columns]

In [ ]:
# Check all the latent features and parameters with their mean and standard deviation. Value are close to 0 centered (mean)
 # with unit standard deviation
train.std(axis = 0, skipna = True)

Time      47622.292902
V1            2.055007
V2            1.752448
V3            1.569294
V4            1.446612
V5            1.404393
V6            1.333488
V7            1.289288
V8            1.253515
V9            1.123971
V10           1.141996
V11           1.030977
V12           1.029904
V13           1.000798
V14           0.992349
V15           0.916225
V16           0.901976
V17           0.903369
V18           0.845332
V19           0.817528
V20           0.829378
V21           0.784600
V22           0.732039
V23           0.688742
V24           0.601607
V25           0.524333
V26           0.484919
V27           0.408254
V28           0.345624
Amount      271.157774
Class         0.043702
dtype: float64

In [ ]:
# Check the class count for each class. It’s a class Imbalance problem.
train['Class'].value_counts().plot(kind="bar")

In [ ]:
# Check the class count for each class. It’s a class imbalance problem.
train['Class'].value_counts()

0.0    76513
1.0      130
Name: Class, dtype: int64

In [ ]:
train.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
train = train.fillna(0)
train

           Time        V1        V2  ...       V28  Amount  Class
0       38355.0  1.043949  0.318555  ...  0.037894   49.67    0.0
1       22555.0 -1.665159  0.808440  ... -0.220086   16.94    0.0
2        2431.0 -0.324096  0.601836  ... -0.021623    1.00    0.0
3       86773.0 -0.258270  1.217501  ... -0.020635   10.78    0.0
4      127202.0  2.142162 -0.494988  ... -0.043888   39.96    0.0
...         ...       ...       ...  ...       ...     ...    ...
76639  155718.0 -5.043373  4.876364  ... -0.974517    0.99    0.0
76640   46255.0 -4.962864 -5.266797  ... -1.448318  138.00    0.0
76641    1285.0 -3.835659 -1.955510  ... -0.883502   14.50    0.0
76642   45263.0 -1.030194  1.115501  ... -0.135593   59.30    0.0
76643   46529.0  1.166269  0.094054  ...  0.000000    0.00    0.0

[76644 rows x 31 columns]

In [ ]:
train.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#  Oversampling or undersampling can be used to tackle the class imbalance problem
print(Counter(train['Class']))
oversample = RandomOverSampler(sampling_strategy='minority')
X_over, y_over = oversample.fit_resample(train.drop(['Class'], axis=1), train['Class'])
X_test_over, y_test_over = oversample.fit_resample(test_hidden.drop(['Class'], axis=1), test_hidden['Class'])
print(Counter(y_over))

Counter({0.0: 76514, 1.0: 130})
Counter({0.0: 76514, 1.0: 76514})

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_over = pca.fit_transform(X_over)
X_over

NameError: ignored

In [ ]:
# Use Tree-based classifiers like Random Forest and XGBoost.
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_over, y_over)
y_pred_regressor = regressor.predict(test_tfidf)
y_pred_regressor[:10]

In [ ]:
# precision, recall, F1-score, AUC-ROC curve. Use F1-Score for SVM
accuracy = accuracy_score(y_test_over, y_pred_svm)
print('Accuracy: %f' % accuracy)
precision = precision_score(y_test_over,  y_pred_svm, average='micro')
print('Precision: %f' % precision)
recall = recall_score(y_test_over,  y_pred_svm, average='micro')
print('Recall: %f' % recall)
f1 = f1_score(y_test_over,  y_pred_svm, average='micro')
print('F1 score: %f' % f1)